body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.tela {
  background-color: #fff;
  color: #333; 
  font-size: 24px;
  text-align: right;
  padding: 10px;
  max-width: 400px;
  border: solid;
  margin-top: 10px; 
}

.resultado{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 10vh; 
}

.teclas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
}

.botao {
  background-color: #ccc;
  border: none;
  color: #333;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.operadores {
  background-color: #f39c12;
  color: #fff;
  font-size: larger;
}

.botao:hover {
  background-color: #ddd;
}

.botao:active {
  background-color: #bbb;
}

#limpar {
  background-color: #e74c3c;
  color: #fff;
}

#calcular {
  background-color: #2ecc71;
  color: #fff;
}

#decimal {
  background-color: #3498db;
  color: #fff;
}
  